/* =========================================================
   BINGO SECTION
========================================================= */

.bingo-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

/* =========================================================
   CARTELA
========================================================= */

.bingo-card {
  width: 760px;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 14px;
}

/* =========================================================
   ITEM
========================================================= */

.bingo-item {
  min-height: 120px;

  padding: 14px;

  border-radius: 18px;

  background: rgba(255,255,255,0.08);

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: 16px;
  font-weight: bold;

  line-height: 1.3;

  cursor: pointer;

  user-select: none;

  transition: 0.2s ease;

  backdrop-filter: blur(12px);

  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

.bingo-item:hover {
  transform: scale(1.03);
}

/* =========================================================
   MARCADO
========================================================= */

.bingo-item.checked {
  background: rgba(160, 70, 255, 0.65);

  box-shadow:
    0 0 20px rgba(180, 100, 255, 0.7),
    0 0 40px rgba(180, 100, 255, 0.35);

  transform: scale(0.98);
}

/* =========================================================
   OPÇÃO AINDA NÃO SORTEADA
========================================================= */

.bingo-item.not-drawn {
  animation: notDrawnFlash 0.5s ease;
}


@keyframes notDrawnFlash {

  0% {
    background: rgba(255, 255, 255, 0.08);
    transform: scale(1);
  }

  35% {
    background: rgba(58, 145, 142, 0.38);

    border-color:
      rgba(135, 220, 215, 0.22);

    box-shadow:
      0 0 22px rgba(58, 145, 142, 0.25);

    transform: scale(0.98);
  }

  100% {
    background: rgba(255, 255, 255, 0.08);

    box-shadow:
      0 8px 25px rgba(0, 0, 0, 0.25);

    transform: scale(1);
  }

}

/* =========================================================
   BOTÃO BINGO
========================================================= */

.bingo-btn {
  padding: 18px 48px;

  border-radius: 999px;

  border: none;

  background: white;

  color: #2a0a4a;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.25s ease;

  box-shadow: 0 15px 40px rgba(0,0,0,0.35);
}

.bingo-btn:hover {
  transform: scale(1.05);
}